body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box{
    padding: 20px;
    text-align: center;
}
.box h1{
    margin-bottom: 20px;
}
.item{
    margin-bottom: 10px;
}
.item a{
    display: block;
    padding: 5px 10px;
    color: #222;
}