#navigation{
	background-color: #2d2d2d;
}
.bg-img{
	padding: 20px 0;
	background-image: url('../img/market-bg.webp');
	background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
	text-align: center;
	color: #fff;
}
.bg-content{
	width: 80%;
	margin: 0 auto;
}
.bg-content h2{
	text-align: center;
}

.service-box{
	padding: 20px 0;
}
.service-box .row{
	margin-bottom: 30px;
}
.service-box .row:nth-child(2){
	flex-direction: column-reverse;
}
.service-box .row:last-child{
	margin-bottom: 0px;
}
.service-box h2{
	text-align: left;
	font-size: 18px;
    line-height: 28px;
}
.service-box .col-md-6.service-content{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.service-box .service-img{
	text-align: center;
}
.service-box .service-img img{
	width: 100%;
	border-radius: 5px;
	border: 3px solid #000;
}
#client{
	padding: 50px 0;
}
#client h6{
	text-align: center;
}
.client-item img{
	width: 120px;
	margin: 0 auto;
	border: 1px solid #eee;
	border-radius: 5px;
}
.slick-next:before, .slick-prev:before{
	line-height: 1.3;
	color: #000;
}
.slick-dots li button:before{
	top: 12px;
	font-size: 12px;
}